#filter-form{
    display: flex !important;
    flex-direction: row !important;
}
.form-group{
    margin-right: 20px;
}

.main-table{
    margin-top: 40px;
}

.grid-item{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col{
    width: 20% !important;
    min-width: 20% !important;
    max-width: 20% !important;
    text-align: center;
}

.heading, .total{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px dashed #111;
    border-bottom: 2px dashed #111;
}

.btn{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    /*line-height: normal;*/
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 1.5em;
    border: 1px solid #a6a6a6;
    background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: all 0.1s;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    background-image: none;
    background-color: #F9F9F9;
    text-shadow: none;
    transition: all, 0.2s;
}
.btn:hover{
    border: 1px solid #39b2bd;
    color: #39b2bd;
}

#print-button{
    margin-top: 20px;
}

.heading>*, .total>*{
    font-weight: bold;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}