.sb--text-uppercase{
    text-transform: uppercase;
}
.sb--text-center {
    text-align: center;
}
.sb--text-right {
    text-align: right;
}
.sb--fontweight-100 {
    font-weight: 100;
}
.sb--container {
    width: 100%;
}
.sb--receiptinfo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.sb--receiptinfo-items {
    margin: 10px;
    flex-basis: 341px;
}
.sb--display-inline-block{
    display: inline-block;
}
.sb--width-100 {
    width: 100%;
}
.sb--margin-8 {
    margin: 8px;
}
.sb--margin-10 {
    margin: 10px;
}
.sb--m-t-80 {
    margin-top: 80px;
}
.sb--m-l-0 {
    margin-left: 0;
}
.sb--m-l-20 {
    margin-left: 20px;
}
.sb--m-r-0 {
    margin-right: 0;
}
.custom-header{
    display: flex;
    justify-content: space-between;
}
.custom-header > .sb--receiptinfo-items{
    flex-basis: auto;
    margin: 4px;
}
.sb--receiptinfo-items{
    font-size: 10px;
}
.custom-height{
    max-height: 24px;
}