#print-doctor-wise-sheet {
    border: 1px solid #dedede;
    padding: 8px;
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #dedede;
    color: #111;
    border-radius: 4px;
}

#print-doctor-wise-sheet:hover{
    cursor: pointer;
    background-color: #c4c4c4;
}