#print-dues {
    border: 1px solid #dedede;
    padding: 8px;
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #dedede;
    color: #111;
    border-radius: 4px;
}

#print-dues:hover{
    cursor: pointer;
    background-color: #c4c4c4;
}

/** {*/
    /*font-size: 12px;*/
    /*font-family: Consolas, monaco, monospace;*/
/*}*/

/*table, td, th {*/
    /*border: 1px solid #fff;*/
    /*text-align: left*/
/*}*/

/*table {*/
    /*border-collapse: collapse;*/
    /*width: 100%*/
/*}*/

/*td, th {*/
    /*padding: 15px*/
/*}*/

/*tr td:nth-child(5), tr th:nth-child(5) {*/
    /*display: none*/
/*}*/

/*td, th {*/
    /*padding-right: 1px;*/
    /*padding-left: 1px*/
/*}*/

/*tbody > tr > td {*/
    /*padding-top: 1px;*/
    /*padding-bottom: 1px*/
/*}*/

/*thead > tr > th {*/
    /*padding: 0;*/
    /*border-bottom: 2px dashed #cacaca*/
/*}*/

/*tfoot > tr > td {*/
    /*padding: 0;*/
    /*font-weight: 700;*/
    /*border-top: 2px dashed #cacaca*/
/*}*/

/*tr td:nth-child(4), tr th:nth-child(4) {*/
    /*text-align: right*/
/*}*/