.form-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    border: 1px solid #e2e2e2;
    padding: 5px;
}
.form-row > .form-group{
    margin-right: 10px;
}
#sex, #doctor_name, .service-list{
    min-height: 24px !important;
    height: 24px !important;
    margin-bottom: 2px;
}

.block.block-system.block-system-main-block{
    margin-top: -20px;
}

input[value="ADD SERVICE"][disabled] {
    opacity: 0.5;
}

.service-count, .service-amounts{
    margin-bottom: 2px;
    width: 100px;
    max-width: 100px;
    border: solid 1px #a9a9a9;
    height: 18px;
    padding: 2px;
}

.remove-buttons{
    margin-bottom: 2px;
}

.login-loader.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.50);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.login-loader{
    display: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}