table, td, th {
    border: 1px solid #fff;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

tr th:nth-child(7), tr td:nth-child(7), tr th:nth-child(8), tr td:nth-child(8){
    display: none;
}