.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 80px;
}
.sidenav .menu > li{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}
.sidenav .menu > li > a{
    color: #fff;
}
li.menu-item--active-trail > a , .menu-item .is-active{
    color: #fff47e !important;
}
.layout-container{
    margin-left: 200px;
    padding-left: 10px;
    padding-top: 10px;
}
.adminimal .content-header{
    background-color: #fff;
}
.page-title, #block-mainpagecontent > *{
    color: #111 !important;
}
.view-header{
    margin-right: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.view-header > a {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 1.5em;
    border: 1px solid #a6a6a6;
    background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: all 0.1s;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    background-image: none;
    background-color: #F9F9F9;
    text-shadow: none;
    transition: all, 0.2s;
}
.view-header > a:hover{
    border: 1px solid #39b2bd;
    color: #39b2bd;
}

#edit-relations{
    display: none;
}
