<h1 style="color: #000;">SEVA BHARTI (NEW ALIPORE) TRUST</h1>
<div class="filter-wrapper">
    {% set u = url('<current>')['#markup']|split('/') %}
    {% set u = u|last %}
    <form id="filter-form" action="{{ u }}" method="get">
        <div class="form-group">
            From: <input type="text" class="date" name="fromDate" value="{{ data.fromDate }}">
        </div>
        <div class="form-group">
            To: <input type="text" class="date" name="toDate" value="{{ data.toDate }}">
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn"/>
            <a href="{{ u }}" class="btn">Reset</a>
        </div>
    </form>
</div>

<div id="main-table">

    <div class="period">
        {% if data.fromDate == '' %}
            {% if data.toDate == '' %}
                <h3>PERIOD till {{ "now"|date("d-m-Y") }}</h3>
            {% else %}
                <h3>PERIOD till {{ data.toDate|date("d-m-Y") }}</h3>
            {% endif %}
        {% else %}
            {% if data.toDate == '' %}
                <h3>PERIOD FROM {{ data.fromDate|date("d-m-Y") }} to {{ "now"|date("d-m-Y") }}</h3>
            {% else %}
                <h3>PERIOD FROM {{ data.fromDate|date("d-m-Y") }} to {{ data.toDate|date("d-m-Y") }}</h3>
            {% endif %}
        {% endif %}
    </div>

    <div style="display:flex;margin-top:-10px;">
        <h4>Serial no: From {{ data.first_sl_no }} to {{ data.last_sl_no }}</h4>
        <h4 style=" margin-left: 16px">Receipt no: From {{ data.first_receipt_no }} to {{ data.last_receipt_no }}</h4>
    </div>

    <table>
        <tr class="table-header">
            <th>DEPARTMENT</th>
            <th>DOCTOR</th>
            <th>NO OF PATIENT</th>
            <th>RECEIVED</th>
        </tr>
        {% for transaction in data.transactions %}
            <tr>
                <td>{{ transaction.department }}</td>
                <td>{{ transaction.doctor }}</td>
                <td>{{ transaction.patient }}</td>
                <td>{{ transaction.amount }}</td>
            </tr>
        {% endfor %}
        <tr class="table-total" style="font-weight: bold; ">
            <td>TOTAL</td>
            <td>{{ data.transactions|length }}</td>
            <td>{{ data.total_patient }}</td>
            <td>{{ data.total_amt }}</td>
        </tr>
    </table>
</div>
<input type="button" id="print-button" value="Print">