<head>
    <link rel="stylesheet" href="/modules/custom/charges_slip/assets/css/jquery-ui.css">
    <script src="/modules/custom/charges_slip/assets/js/jquery.min.js"></script>
    <script src="/modules/custom/charges_slip/assets/js/jquery-ui.js"></script>
</head>
<style>
    .form-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px;
        border: 1px solid #e2e2e2;
        padding: 5px;
    }
    .form-row > .form-group{
        margin-right: 10px;
    }
    .form-group > input{
        height: 22px;
    }

    .login-loader.is-active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.50);
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
    }

    .login-loader{
        display: none;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="login-loader is-active">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<h1>Edit Transaction</h1>
<form action="/edit-transaction-form" id="edit-form" method="post">
    <input type="hidden" name="isEdit" value="true">
    <input type="hidden" name="nid" value="{{ data.transaction.nid   }}">
    <div class="form-row">
        <div class="form-group">
            <label>TRANSACTION DATE</label>
            <input type="text" id="transaction_date" name="transaction_date" readonly disabled value="{{ data.transaction.transaction_date }}"/>
        </div>
        <div class="form-group">
            <label>SERIAL NO.</label>
            <input type="number" id="sl_no" name="sl_no" readonly disabled value="{{ data.transaction.sl_no }}"/>
        </div>
        <div class="form-group">
            <label>RECEIPT NO.</label>
            <input type="number" id="receipt_no" name="receipt_no" readonly disabled value="{{ data.transaction.receipt_no }}"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>PATIENT CODE</label>
            <input type="text" id="patient_code" name="patient_code" value="{{ data.transaction.patient_code }}"/>
        </div>
        <div class="form-group">
            <label>PATIENT</label>
            <input type="text" id="patient" name="patient" readonly disabled value="{{ data.transaction.patient }}"/>
        </div>
        <div class="form-group">
            <label>DOCTOR</label>
            <select name="doc" id="doc"></select>
        </div>
        <div class="form-group">
            <label>PRESCRIPTION NO.</label>
            <input type="number" id="prescription_number" name="prescription_number" value="{{ data.transaction.prescription_number }}"/>
        </div>
    </div>

    {% set i = 1 %}
    {% for key,service in data.services %}
        <div class="form-row">
            <div class="form-group">
                <label>Service Name</label>
                <input type="hidden" id="service_id_{{ i }}" value="{{ service.id }}" readonly />
                <input type="text" id="service_name_{{ i }}" name="service_name" value="{{ service.service_name }}" readonly tabindex="-1" />
            </div>
            <div class="form-group">
                <label>Base Amount</label>
                <input type="number" id="base_amount_{{ i }}" name="base_amount" value="{{ service.base_amount }}" onchange="countChange({{ i }})" />
            </div>
            <div class="form-group">
                <label>Count</label>
                <input type="number" id="service_count_{{ i }}" name="service_count" value="{{ service.count }}" min="1" onchange="countChange({{ i }})"/>
            </div>
            <div class="form-group">
                <label>Amount</label>
                <input type="number" id="service_amount_{{ i }}" name="service_amount" value="{{ service.amount }}" readonly tabindex="-1"/>
            </div>
        </div>
        {% set i = i+1 %}
    {% endfor %}

    <div class="form-row">
        <div class="form-group">
            <label>AMOUNT</label>
            <input type="number" id="amount" name="amount" value="{{ data.transaction.amount }}" readonly tabindex="-1"/>
        </div>
        <div class="form-group">
            <label>OLD DUE</label>
            <input type="number" id="old_due" name="old_due" value="0" readonly tabindex="-1"/>
        </div>
        <div class="form-group">
            <label>TOTAL</label>
            <input type="number" id="total" name="total" value="0" readonly tabindex="-1"/>
        </div>
        <div class="form-group">
            <label>CASH PAID</label>
            <input type="number" id="cash_paid" name="cash_paid" value="{{ data.transaction.cash_paid }}" onchange="cash_paidChange()"/>
        </div>
        <div class="form-group">
            <label>DUE</label>
            <input type="number" id="due" name="due" value="{{ data.due }}" readonly tabindex="-1"/>
        </div>
        <div class="form-group">
            <button style="margin-top: 22px; height: 25px" onclick="updateClicked(event)">UPDATE AMOUNTS</button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>BLOOD SUGAR FASTING</label>
            <input type="text" id="blood_sugar_fasting" name="blood_sugar_fasting" value="{{ data.transaction.blood_sugar_fasting }}"/>
        </div>
        <div class="form-group">
            <label>BLOOD SUGAR PP</label>
            <input type="text" id="blood_sugar_pp" name="blood_sugar_pp" value="{{ data.transaction.blood_sugar_pp }}"/>
        </div>
        <div class="form-group">
            <label>BLOOD SUGAR RANDOM</label>
            <input type="text" id="blood_sugar_random" name="blood_sugar_random" value="{{ data.transaction.blood_sugar_random }}"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>BLOOD PRESSURE</label>
            <input type="text" id="blood_pressure" name="blood_pressure" value="{{ data.transaction.blood_pressure }}"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>NARRATION</label>
            <textarea id="narration" name="narration">{{ data.transaction.narration }}</textarea>
        </div>
    </div>
    <input type="hidden" id="services" value="" name="services">
    <input type="hidden" id="patient_id" name="patient_id" value="{{ data.transaction.patient_id }}"/>
    <div class="form-row" style="border: none">
        <div class="form-group">
            <button onclick="formSubmit(event)">Update Slip</button>
        </div>
    </div>
</form>
<script>
    let clickedUpdate = false;
    window.onload = function () {

        let due = parseInt(document.getElementById('due').value);
        let cash_paid = parseInt(document.getElementById('cash_paid').value);
        let amount = parseInt(document.getElementById('amount').value);
        let total = due+cash_paid;
        let old_due = total-amount;
        document.getElementById('total').value = total;
        document.getElementById('old_due').value = old_due;
        getDoctorsList();

    };

    function countChange(i) {
        let base_amount = parseInt(document.getElementById('base_amount_'+i).value);
        let count = parseInt(document.getElementById('service_count_'+i).value);
        document.getElementById('service_amount_'+i).value = base_amount*count;
    }
    
    function updateClicked(e) {
        e.preventDefault();
        let c = {{ i }} - 1;
        let amount = 0;

        let services = [];

        for(let i = 1;i<=c;i++) {
            amount += parseInt(document.getElementById('service_amount_' + i).value);

            services[i-1] = {};
            services[i-1].nid = parseInt(document.getElementById('service_id_' + i).value);
            services[i-1].base_amount = parseInt(document.getElementById('base_amount_' + i).value);
            services[i-1].count = parseInt(document.getElementById('service_count_' + i).value);
            services[i-1].amount = parseInt(document.getElementById('service_amount_' + i).value);

        }

        document.getElementById('services').value = JSON.stringify(services);

        document.getElementById('amount').value = amount;
        document.getElementById('total').value = amount + parseInt(document.getElementById('old_due').value);

        let due = parseInt(document.getElementById('total').value) - parseInt(document.getElementById('cash_paid').value);
        if(due>=0)
            document.getElementById('due').value = due;

        clickedUpdate = true;
    }

    function cash_paidChange() {
        let due = parseInt(document.getElementById('total').value) - parseInt(document.getElementById('cash_paid').value);
        if(due>=0)
            document.getElementById('due').value = due;
    }

    function formSubmit(e){
        e.preventDefault();
        if(clickedUpdate){
            jQuery(".login-loader").addClass("is-active");
            document.getElementById('edit-form').submit();
        }
        else {
            alert("Amounts Not Updated");
        }
    }

    $(function () {

        $.get("get-patient-codes", function (data, status) {

            $("#patient_code").autocomplete({
                source: data,
                select: function () {
                    setTimeout(function () {
                        var id = $("#patient_code").val();
                        id = id.substring(0, id.indexOf("-") - 1);
                        $("#patient_code").val(id);
                    }, 5);
                    setTimeout(function () {
                        getPatient();
                    }, 10);
                }
            })

        });

    });

    function getPatient() {
        var id = jQuery("#patient_code").val();
        jQuery.get("get-patient-details?id=" + id, function (data, status) {

            if (data['patient_id'] == null) {
                alert('Invalid Patient Code');
            }
            else {
                jQuery('#patient').val(data['patient_name']);
                jQuery('#patient_id').val(data['patient_id']);
            }
        });
    }

    function getDoctorsList() {

        jQuery.get("get-doctors-list", function (data, status) {
            var optionsAsString = "";
            jQuery.map(data, function (item, index) {
                optionsAsString += "<option value='" + index + "'>" + item + "</option>";
            });
            console.log(optionsAsString);
            jQuery('#doc').append(optionsAsString);
            jQuery('#doc').val({{ data.transaction.doc_id }});
            jQuery(".login-loader").removeClass("is-active");

        });
    }
    
</script>