<h1 id="msg" style="display: none">Redirecting.</h1>
<script src="/modules/custom/charges_slip/assets/js/sweetalert2.all.js"></script>
<script>
    swal({
        title: 'Verify',
        input: 'password',
        inputPlaceholder:'Enter password here',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        allowOutsideClick: false,
        showLoaderOnConfirm: true,
        preConfirm: (password) => {
            return new Promise((resolve) => {
                if (password === '') {
                    swal.showValidationError(
                        'Please enter password first.'
                    );
                    resolve()
                }
                if(password){
                    let url = "/edit-transaction-form";
                    let nid = {{ data.nid }};
                    jQuery('<form action="'+url+'" method="post">' +
                        '<input type="hidden" name="pass" value="'+password+'" />'+
                        '<input type="hidden" name="nid" value="'+nid+'" />'+
                        '</form>').appendTo('body').submit();
                }
            })
        },
    }).then((result) => {
        if (!result.value) {
            jQuery("#msg").css({display:'block'});
            let c = 0;
            setInterval(function () {
                if(c<2){
                    jQuery("#msg").html(jQuery("#msg").text()+".");
                    c = c +1;
                }
                else {
                    jQuery("#msg").html('Redirecting.');
                    c = 0;
                }
            },500);
            window.location.href = "/transaction-details";
        }
    });
</script>