<div class="sb--container" id="doctor-consultant-receipt">
    <section class="sb--receiptinfo-container custom-header">
        <div class="sb--receiptinfo-items sb--text-uppercase">
            <span>Serial no. : </span>
            {% set m = "now"|date("m") %}
            {% set y = "now"|date("Y") %}
            {% set y2 = "now"|date("y") %}
            {% set pre = ((m >= 4) ? ((y) ~ '-' ~ (y2+1)) : ((y-1) ~ '-' ~ (y2))) %}
            <span>{{ pre }} / {{ data.serial_no }}</span>
        </div>
        <div class="sb--receiptinfo-items sb--text-uppercase">
            <span>R. No. : </span>
            <span>{{ data.receipt_no }}</span>
        </div>
        <div class="sb--receiptinfo-items sb--text-uppercase">
            <span>pres. no. : </span>
            <span>{{ data.transaction.field_prescription_number.0.value }}</span>
        </div>
        <div class="sb--receiptinfo-items sb--text-uppercase">
            <span>dt : </span>
            <span>{{ data.transaction.field_transaction_date.0.value|date('d/m/Y') }}</span>
        </div>
    </section>
    <section class="sb--receiptinfo-container custom-header">
        <div class="sb--receiptinfo-items sb--text-uppercase ">
            <span> p. code: </span>
            <span>{{ data.patient.field_patient_code.0.value }} </span>
        </div>
        <div class="sb--receiptinfo-items sb--text-uppercase ">
            <span>Name : </span>
            <span>{{ data.patient.title.0.value }} </span>
        </div>
        <div class="sb--receiptinfo-items sb--text-uppercase ">
            <span>age : </span>
            <span>{{ data.patient.field_age.0.value }}</span>
        </div>
        {% if data.patient.field_sex.0.value %}
            <div class="sb--receiptinfo-items sb--text-uppercase ">
                <span>sex : </span>
                {% if data.patient.field_sex.0.value == "male" %}
                    <span>M</span>
                {% endif %}
                {% if data.patient.field_sex.0.value == "female" %}
                    <span>F</span>
                {% endif %}
            </div>
        {% endif %}
        <div class="sb--receiptinfo-items sb--text-uppercase">
            <span>time : </span>
            <span>{{ data.transaction.created.0.value|date('H:i:s') }}</span>
        </div>
    </section>
    <section class="sb--receiptinfo-container" style="display: flex;justify-content: flex-start;">
        {% if data.patient.field_phone_number.0.value != '' %}
            <div class="sb--receiptinfo-items sb--text-uppercase" style="width: 20%">
                <span>mobile no. : </span>
                <span>{{ data.patient.field_phone_number.0.value }}</span>
            </div>
        {% endif %}
        <div class="sb--receiptinfo-items sb--text-uppercase" style="width: 80%; flex-basis: 80%">
            <span>address : </span>
            <span>{{ data.patient.field_address.0.value }}</span>
        </div>
    </section>
    <hr style="margin-top: 10px;">
    <section class="sb--receiptinfo-container">
        <div class="sb--receiptinfo-items sb--receiptinfo-container" style="flex-direction: column; flex-grow: 1">
            <div class="sb--width-100 sb--text-uppercase ">
                <span>charges</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container" style="flex-direction: column; flex-grow: 1">
            <div class="sb--width-100 sb--text-uppercase  sb--text-center">
                <span>doctor</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container" style="flex-direction: column; flex-grow: 1">
            <div class="sb--width-100 sb--text-uppercase  sb--text-right">
                <span>amount</span>
            </div>
        </div>
    </section>
    {% set i = 0 %}
    {% for key,value in data.transaction_services %}
        <section class="sb--receiptinfo-container custom-height">
            <div class="sb--receiptinfo-items sb--receiptinfo-container" style="flex-direction: column; flex-grow: 1">
                <div class="sb--width-100 sb--text-uppercase ">
                    <span>{{ value.service_name }}</span>
                </div>
            </div>
            <div class="sb--receiptinfo-items sb--receiptinfo-container" style="flex-direction: column; flex-grow: 1">
                <div class="sb--width-100 sb--text-uppercase  sb--text-center">
                    {% if i==0 %}
                        <span>{{ data.doctor.title.0.value }} - {{ data.doctor_dept }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="sb--receiptinfo-items sb--receiptinfo-container" style="flex-direction: column; flex-grow: 1">
                <div class="sb--width-100 sb--text-uppercase  sb--text-right">
                    <span>{{ value.amount }}</span>
                </div>
            </div>
        </section>
        {% set i = i+1 %}
    {% endfor %}
    <section class="sb--receiptinfo-container custom-height" style="margin-top: 10px;justify-content: space-between;">
        <div class="sb--receiptinfo-items sb--receiptinfo-container sb--m-l-0">
            <div class="sb--width-100 sb--text-uppercase ">
                <span>total</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container">
            <div class="sb--width-100 sb--text-uppercase  sb--text-right sb--m-r-0">
                {% if data.transaction.field_slip_generated.0.value == 1 %}
                    <span id="total">{{ data.total_service_amount }}</span>
                {% else %}
                    <span id="total">0</span>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="sb--receiptinfo-container custom-height" style="justify-content: space-between;">
        <div class="sb--receiptinfo-items sb--receiptinfo-container sb--m-l-0">
            <div class="sb--width-100 sb--text-uppercase ">
                <span>old due</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container">
            <div class="sb--width-100 sb--text-uppercase  sb--text-right sb--m-r-0">
                <span id="old-due">0</span>
            </div>
        </div>
    </section>
    <section class="sb--receiptinfo-container custom-height" style="justify-content: space-between;">
        <div class="sb--receiptinfo-items sb--receiptinfo-container sb--m-l-0">
            <div class="sb--width-100 sb--text-uppercase ">
                <span>Total to be paid</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container">
            <div class="sb--width-100 sb--text-uppercase  sb--text-right sb--m-r-0">
                <span id="to-pay">0</span>
            </div>
        </div>
    </section>
    <section class="sb--receiptinfo-container custom-height" style="justify-content: space-between;">
        <div class="sb--receiptinfo-items sb--receiptinfo-container sb--m-l-0">
            <div class="sb--width-100 sb--text-uppercase ">
                <span>received</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container">
            <div class="sb--width-100 sb--text-uppercase  sb--text-right sb--m-r-0">
                <span id="received">{{ data.transaction.field_cash_paid.0.value }}</span>
            </div>
        </div>
    </section>
    <section class="sb--receiptinfo-container custom-height" style="justify-content: space-between;">
        <div class="sb--receiptinfo-items sb--receiptinfo-container sb--m-l-0">
            <div class="sb--width-100 sb--text-uppercase ">
                <span>due</span>
            </div>
        </div>
        <div class="sb--receiptinfo-items sb--receiptinfo-container">
            <div class="sb--width-100 sb--text-uppercase  sb--text-right sb--m-r-0">
                <span id="due">{{ data.total_due }}</span>
            </div>
        </div>
    </section>
    <section class="sb--receiptinfo-container" style="display: flex; justify-content: flex-start">
        {% if data.transaction.field_blood_sugar_fasting.0.value != '' %}
            <div class="sb--text-uppercase sb--margin-8 custom-font">
                BLOOD SUGAR FASTING : {{ data.transaction.field_blood_sugar_fasting.0.value }}
            </div>
        {% endif %}
        {% if data.transaction.field_blood_sugar_pp.0.value != '' %}
            <div class="sb--text-uppercase sb--margin-8 custom-font">
                BLOOD SUGAR PP : {{ data.transaction.field_blood_sugar_pp.0.value }}
            </div>
        {% endif %}
        {% if data.transaction.field_blood_sugar_random.0.value != '' %}
            <div class="sb--text-uppercase sb--margin-8 custom-font">
                BLOOD SUGAR RANDOM : {{ data.transaction.field_blood_sugar_random.0.value }}
            </div>
        {% endif %}
    </section>
    <section class="sb--receiptinfo-container" style="display: flex; justify-content: flex-start">
        {% if data.transaction.field_blood_pressure.0.value != '' %}
            <div class="sb--text-uppercase sb--margin-8 custom-font">
                BLOOD PRESSURE : {{ data.transaction.field_blood_pressure.0.value }}
            </div>
        {% endif %}
        <div class="sb--text-uppercase sb--margin-8 custom-font">
            {{ data.transaction.field_narration.0.value }}
        </div>
    </section>
    <div class="sb--text-uppercase  sb--text-right" style="font-size:10px">
        seva bharti (new alipore) trust
    </div>
    <div class="sb--text-uppercase sb--text-right" style="margin-right: 8px; font-size: 10px; margin-top: 32px">
        authorised signature
    </div>
</div>
<input type="button" id="print-button" value="Print" onclick="print_slip();">
<input type="button" id="back-button" value="Back" onclick="window.location.href='/slip '">
<script>
    setTimeout(function () {
        let toPay = parseInt(document.getElementById('received').innerText) + parseInt(document.getElementById('due').innerText);
        document.getElementById('to-pay').innerText = toPay;
    }, 500);
    setTimeout(function () {
        let oldDue = parseInt(document.getElementById('to-pay').innerText) - parseInt(document.getElementById('total').innerText);
        document.getElementById('old-due').innerText = oldDue;
    }, 1000);

    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>