<div class="login-loader">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<form action="/generate-transaction" method="post" id="save-slip">
    <div class="form-row" style="justify-content: space-between">
        <div class="form-group ui-widget">
            <label>PATIENT CODE</label>
            <input type="text" name="patient_code" id="patient_code" required/>
            <button id="info-button" onclick="return false;" tabindex="-1">Get Info</button>
        </div>
        <div class="form-group">
            <label>DATE</label>
            <input type="date" id="date" name="date" readonly required tabindex="-1"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>PATIENT NAME</label>
            <input type="text" name="patient_name" id="patient_name" required/>
        </div>
        <div class="form-group" style="height: 0;width: 0; overflow: hidden">
            <label>PATIENT ID</label>
            <input type="hidden" id="patient-id" name="patient_id"/>
        </div>
        <div class="form-group">
            <label>PHONE/MOBILE</label>
            <input type="text" name="phone_mobile" id="phone_mobile" required/>
        </div>
        <div class="form-group">
            <label>AGE</label>
            <input type="text" name="age" id="age" required/>
        </div>
        <div class="form-group">
            <label>SEX</label>
            <select name="sex" id="sex" required>
                <option value="">None</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label>PATIENT ADDRESS</label>
            <textarea name="patient_address" id="patient_address" required cols="102" rows="3"></textarea>
        </div>
    </div>
    <div class="form-row">
        {#<div class="form-group" id="receipt_no_wrapper" style="display: none">#}
            {#<label>Receipt No.</label>#}
            {#<input type="text" id="receipt_no" name="receipt_no" required style="width: 90px"/>#}
        {#</div>#}
        <div class="form-group">
            <label>PRESCRIPTION NO</label>
            <input type="text" id="prescription_no" name="prescription_no" required style="width: 90px"/>
        </div>
        <div class="form-group">
            <label>DOCTOR / SERVICE NAME</label>
            {#<input type="hidden" id="dname" value="" name="doctor_name">#}
            <select id="doctor_name" name="doctor_name" required style="min-width: 164px">
                <option value="" selected>Select</option>
            </select>
        </div>
        <div class="form-group">
            <label>DEPARTMENT</label>
            <input type="text" id="department" name="department" readonly tabindex="-1" />
        </div>
        <div class="form-group add-more">
            <label>ADD MORE SERVICE</label>
            <input type="button" value="ADD SERVICE" id="add-more" disabled>
        </div>
    </div>
    <div class="form-row">
        <div id="service">
            <div class="form-group">
                <label>SERVICE</label>
            </div>
        </div>
        <div style="margin-left: 10px;">
            <div class="form-group" id="service-count" style="display: flex;flex-direction: column">
                <label>COUNT</label>
            </div>
        </div>
        <div style="margin-left: 10px;">
            <div class="form-group" id="service-base-amount" style="display: flex;flex-direction: column">
                <label>BASE AMOUNT</label>
            </div>
        </div>
        <div style="margin-left: 10px;">
            <div class="form-group" id="service-amount" style="display: flex;flex-direction: column">
                <label>AMOUNT</label>
            </div>
        </div>
        <div style="margin-left: 10px;">
            <div class="form-group" id="service-action" style="display: flex;flex-direction: column">
                <label>ACTION</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>SERVICE AMOUNT</label>
            <input type="text" id="doctor_amount" name="doctor_amount" readonly required/>
        </div>
        <div class="form-group">
            <label>OLD DUE AMOUNT</label>
            <input type="text" name="old_due_amount" id="old_due_amount" readonly tabindex="-1" value="0"/>
        </div>
        <div class="form-group">
            <label>TOTAL</label>
            <input type="text" name="total" id="total" readonly tabindex="-1" />
        </div>
        <div class="form-group">
            <label>CASH PAID</label>
            <input type="text" id="cash_paid" name="cash_paid" required/>
        </div>
        <div class="form-group">
            <label>DUE</label>
            <input type="text" name="due" id="due" readonly tabindex="-1" />
        </div>
        <div class="form-group">
            <input type="button" value="Update" onclick="updateAmount();" style="margin-top: 22px;"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>BLOOD SUGAR (FASTING)</label>
            <input type="text" id="bs_fs" name="bs_fs" required/>
        </div>
        <div class="form-group">
            <label>BLOOD SUGAR (PP)</label>
            <input type="text" id="bs_pp" name="bs_pp" required/>
        </div>
        <div class="form-group">
            <label>BLOOD SUGAR (RANDOM)</label>
            <input type="text" id="bs_rn" name="bs_rn" required/>
        </div>
        <div class="form-group">
            <label>BLOOD PRESSURE</label>
            <input type="text" id="bp" name="bp" required/>
        </div>
        <div class="form-group">
            <label>NARRATION</label>
            <textarea name="narration" id="narration" rows="1"></textarea>
        </div>
        {#<div class="form-group">#}
            {#<label style="margin-top: 24px;">GENERATE SLIP <input type="checkbox" id="generate_slip" name="generate_slip" value="1" checked/></label>#}
        {#</div>#}
    </div>
    <input type="hidden" name="select_service" value="" id="select_service">
    <div class="form-row" style="border: none">
        <div class="form-group">
            <input type="button" value="Create" onclick="submit_form('save-slip')">
            <input type="button" value="Reset" onclick="window.location.href='/slip'">
        </div>
    </div>
</form>